html{
	/*background-color: black;*/
}

body{
	width:100%;
	margin:auto;
	/*background-color: #093d79;*/
}

#mapToShow img{
	/*display:none;*/
	border: none;
    height: auto;
    max-width: 75%;
    width: auto;
}

area:focus {
    outline: none;
}
